<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yht.demo.mapper.ChannelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yht.demo.entity.model.Channel">
        <id column="id_" property="id"/>
        <result column="name_" property="name"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <select id="getChannelList" resultType="java.util.Map">
        SELECT
            id_ as id,
            name_ as name,
            DATE_FORMAT(create_time,'%Y-%m-%d') as createTime
        FROM
            channel_
        WHERE
            del_flag = 0
            order by create_time desc
    </select>

    <select id="getAllChannels" resultType="java.util.Map">
        SELECT
            id_ as id,
            name_ as name
        FROM
            channel_
        WHERE
            del_flag = 0
            order by create_time desc
    </select>


</mapper>
