<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yht.demo.mapper.LoanProductAdvertisingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yht.demo.entity.model.LoanProductAdvertising">
        <id column="id_" property="id"/>
        <result column="client_name" property="clientName"/>
        <result column="title_" property="title"/>
        <result column="icon_" property="icon"/>
        <result column="location_" property="location"/>
        <result column="background_url" property="backgroundUrl"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <select id="getAdvertisingList" resultType="java.util.Map" parameterType="com.yht.demo.entity.dto.AdvertisingReceiveDTO">
        SELECT
        lpa.id_ AS id,
        lpi.name_ as productName,
        lpi.id_ as productInfoId,
        lpa.location_ as location,
        CASE lpa.location_ WHEN 0 THEN '启动图'
        WHEN 1 THEN '首页弹框'
        WHEN 2 THEN '首页轮播图'
        END AS typeName,
        lpa.client_name AS clientName,
        DATE_FORMAT(lpa.create_time,'%Y-%m-%d') as dataTime
        FROM
        loan_product_advertising lpa
        LEFT JOIN loan_product_info lpi ON lpi.id_ = lpa.product_info_id and lpi.del_flag = 0
        WHERE
        lpa.del_flag = 0
        <if test="advertisingReceiveDTO.productName != null and advertisingReceiveDTO.productName != ''">
            and lpi.name_ like CONCAT('%','${advertisingReceiveDTO.productName}','%')
        </if>
        <if test="advertisingReceiveDTO.clientName != null and advertisingReceiveDTO.clientName != ''">
            and lpa.client_name = #{advertisingReceiveDTO.clientName}
        </if>
    </select>

    <update id="deleteAdvertisingById">
        UPDATE loan_product_advertising
        SET del_flag = 1
        WHERE
            id_ = #{id}
    </update>
</mapper>
