<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yht.demo.mapper.LoanProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yht.demo.entity.model.LoanProduct">
        <id column="id_" property="id"/>
        <result column="product_info_id" property="productInfoId"/>
        <result column="classify_id" property="classifyId"/>
        <result column="client_name" property="clientName"/>
        <result column="channel_name" property="channelName"/>
        <result column="is_recommend" property="isRecommend"/>
        <result column="is_carefully_select" property="isCarefullySelect"/>
        <result column="is_latest_product" property="isLatestProduct"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <resultMap id="productResultMap" type="com.yht.demo.entity.dto.LoanProductInfoReturnDTO">
        <result column="id_" property="productId"/>
        <result column="title_" property="title"/>
        <result column="url_" property="url"/>
        <result column="name_" property="name"/>
        <result column="description_" property="description"/>
        <result column="explain_label" property="explainLabel"/>
        <result column="sort_" property="sort"/>
        <result column="interest_rate" property="interestRate"/>
        <result column="interest_rate_type" property="interestRateType"/>
        <result column="apply_condition" property="applyCondition"/>
        <result column="need_datum" property="needDatum"/>
        <result column="loan_amount_scope" property="loanAmountScope"/>
        <result column="loan_time_scope" property="loanTimeScope"/>
        <result column="apply_num" property="applyNum"/>
        <result column="obtain_time" property="obtainTime"/>
        <result column="icon_url" property="iconUrl"/>
        <result column="url_" property="url"/>
    </resultMap>

    <select id="getLoanProductList" resultType="com.yht.demo.entity.dto.LoanProductReturnDTO">
        SELECT
            lp.id_ as id,
            lp.channel_name as channelName,
            lp.client_name as clientName,
            lpi.name_ as name,
            lpc.title_ as title,
            CASE WHEN lp.is_recommend = 0 THEN "否" ELSE "是" END as recommend,
            CASE WHEN lp.is_carefully_select = 0 THEN "否" ELSE "是" END as carefullySelect,
            CASE WHEN lp.is_latest_product = 0 THEN "否" ELSE "是" END as latestProduct
        FROM
            loan_product lp
        LEFT JOIN loan_product_info lpi ON lpi.id_ = lp.product_info_id and lpi.del_flag = 0
        LEFT JOIN loan_product_classify lpc ON lpc.id_ = lp.classify_id and lpc.del_flag = 0
        WHERE
            lp.del_flag = 0
        ORDER BY lp.create_time
    </select>

</mapper>
