<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yht.demo.mapper.UvStatisticsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yht.demo.entity.model.UvStatistics">
        <id column="id_" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="title_" property="title"/>
        <result column="icon_" property="icon"/>
        <result column="product_url" property="productUrl"/>
        <result column="product_id" property="productId"/>
        <result column="client_name" property="clientName"/>
        <result column="channel_name" property="channelName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <select id="getUVClickCount" resultMap="BaseResultMap" parameterType="com.yht.demo.entity.dto.UvStatisticsReceiveDTO">
        SELECT
        *
        FROM
        uv_statistics
        WHERE
        del_flag = 0
        <if test="sysManageUVReceiveDTO.startTime != null">
            and create_time &lt;= ${sysManageUVReceiveDTO.startTime}
        </if>
        <if test="sysManageUVReceiveDTO.endTime != null">
            and create_time &gt;= ${sysManageUVReceiveDTO.endTime}
        </if>
        <if test="sysManageUVReceiveDTO.clientName != null">
            and client_name = ${sysManageUVReceiveDTO.clientName}
        </if>
        <if test="sysManageUVReceiveDTO.channelName != null">
            and channel_name = ${sysManageUVReceiveDTO.channelName}
        </if>
        group by client_name
    </select>

</mapper>
