<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yht.demo.mapper.UvStatisticsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yht.demo.entity.model.UvStatistics">
        <id column="id_" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="title_" property="title"/>
        <result column="icon_" property="icon"/>
        <result column="product_url" property="productUrl"/>
        <result column="product_id" property="productId"/>
        <result column="client_name" property="clientName"/>
        <result column="channel_name" property="channelName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <select id="getUVClickCount" resultType="java.util.Map" parameterType="com.yht.demo.entity.dto.UvStatisticsReceiveDTO">
        SELECT
        DATE_FORMAT(create_time,'%Y-%m-%d') as dataTime,
        title_ as productName,
        count(id_) as clickUVCount
        FROM
        uv_statistics
        WHERE
        del_flag = 0
        <if test="uvStatisticsReceiveDTO.startTime != null">
            and create_time &lt;= ${uvStatisticsReceiveDTO.startTime}
        </if>
        <if test="uvStatisticsReceiveDTO.endTime != null">
            and create_time &gt;= ${uvStatisticsReceiveDTO.endTime}
        </if>
        <if test="uvStatisticsReceiveDTO.clientName != null">
            and client_name = ${uvStatisticsReceiveDTO.clientName}
        </if>
        <if test="uvStatisticsReceiveDTO.channelName != null">
            and channel_name = ${uvStatisticsReceiveDTO.channelName}
        </if>
        group by DATE_FORMAT(create_time,'%Y-%m-%d'), product_info_id
    </select>

</mapper>
